/*Variables created for reusability for multiple DIVS for color */
$main-rectangle: #8ccff7;

$rectangle-1:  #4e89ae;
$rectangle-2: #43658b;
$rectangle-3: #ed6663;
$rectangle-4: #ffa372;

$circle-1: #4e89ae;
$circle-2:  #43658b;
$circle-3:  #ed6663;
$circle-4:  #ffa372;


/*variable for hover effect*/
$hover: #444;


@mixin media_queries(){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*usage of mixin and a new variable to aligned the circles*/
@mixin circle_container(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.5%;
}

/*basic placement of circles */
.container-circle{
    @include circle_container();
    
}


/*basic alignment, resizing, variable usage*/
.main-rectangle{
    background-color: $main-rectangle;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*resizing of the image*/
picture{
    height: auto;
    max-width: 100%;
}

/*alignment of rectangles*/
.container-rectangle{
    margin-top: 5%;
}

/*basic resizing and variable usage of a rectangle*/
.rectangle-1{
    border: none;
    width: 100%;
    height: 50px;
    background-color: $rectangle-1;
}


.rectangle-2{
    @extend .rectangle-1; /*@extend to inherit the style of the placeholder */
    background-color: $rectangle-2;
}

.rectangle-3{
    @extend .rectangle-1;
    background-color: $rectangle-3;
}

.rectangle-4{
    @extend .rectangle-1;
    background-color: $rectangle-4;
}
 
/*variable usage, resizing of a circle*/
.circle-1{
    border-radius: 70px;
    background-color: $circle-1;
    width: 60px;
    height: 60px;
    margin: 0.5%;
}

.circle-2{
    background-color: $circle-2;
    border-radius: 80px;
    width: 70px;
    height: 70px;
    margin: 0.5%;
}

.circle-3{
    background-color: $circle-3;
    border-radius: 90px;
    width: 80px;
    height: 80px;
    margin: 0.5%;
}

.circle-4{
    background-color: $circle-4;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin: 0.5%;
}

/*styling of footer and variable usage*/
footer{
    background-color: $main-rectangle;
    height: 50px;
    width: 100%;
    margin-top: 3%;
}

/*hover effect and variable usage for all of the circles and rectangles*/
.circle-1:hover, .circle-2:hover, .circle-3:hover, .circle-4:hover, .rectangle-1:hover, .rectangle-2:hover, .rectangle-3:hover, .rectangle-4:hover{
    background-color: $hover;
}

@media screen and (max-width:480px){
    .container-circle{
        @include circle_container()
    }
    
}

@media screen and (min-width:481px) and (max-width:800px){
    .container-circle{
        @include circle_container()
    }
}


@media screen and (min-width:801px)  {
    .container-circle{
        @include media_queries()
    }
}