body{
    background-color: white;
    margin: 0;
    padding: 0;
}

/*alignment, styling of the container*/
.box{
    background-color: rgb(255, 243, 233);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*sizing of the image*/
img{
    width: 100%;
    height: auto;
}

/*alignment, sizing and font styling of the text in the container*/
.box p {
    width: 100%; /* Full width for the paragraph */
    line-height: 27px;
    font-family: 'Courier Prime', monospace;
    margin: 10px;
    margin-left: 1.5%;
    margin-bottom: 10px;
}

/*sizing and alignment of the picture/logo on the top of the webpage*/
.logo{
    width: 55px;
    height: 55px;
    padding-left: 13px;
    padding-bottom: 1%;
}

/*alignment, styling and sizing of footer tag  */
footer{
    text-align: center;
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
}

/*sizing of the webpage using media screen*/
@media screen and (max-width: 480px){
    .box { /*sizing of the container/div tag according to the media screen size*/
        width: 100%;
    }

    .box img { /*sizing of images according to the media screen size*/
        margin-bottom: 10px;
    }

}


@media screen and (min-width: 481px) and (max-width:800px)  {
    p{/*sizing and alignment of text according to the media screen size*/
        float: left;
        width: 48%;
    }
    section{
        float: left;
        width: 48%;
    }
    
}

@media screen and (min-width:801px) and (max-width:1024px) {

    section{/*sizing and alignment of every images in the container individually*/
        width: calc(33.33% - 0px);
        float: left;
    }

    p{
        width: 30%;
        float: left;
    }
    
}

@media screen and (min-width:1025px){
    
    section{
        width: calc(33.33% - 0px);/*cal function used because other width sizes wouldnt work*/
        float: left;
    }

    p{
        width: 35%;
        float: left;
    }
}