body{ 
    background-color: rgb(235, 235, 235);
    padding: 0;
    margin: 0;
}

/* basic styling to the search bar */
.search{
    text-align: center;
}

/* Styling the input field */
.search input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 10px;
    color: rgb(98, 98, 98);
}

/*styling of navigation bar*/
nav{
    text-decoration: none;
    margin-right: 1%;
}

/*added hover effect to the navigation bar*/
nav a:hover{
    background-color: #fff;
    color: black;
}

/* text styling of navigation bar*/
a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/*styling, alignment of the DIV tag "BAR" (H1, FORM and NAVIGATION)*/
.bar{
    background-color: rgb(38, 127, 243);
    height: 60px;
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*styling of the main heading of the webpage in first DIV TAG 'bar' */
h1{
    color: white;
    font-size: 20px;
    margin-left: 1%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 550;
}

/*Alignment, styling of the article tag on the left side of the webpage*/
.article {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 18.5%;
    margin-right: 1%;
    margin-top: -10%;
    background-color: white;
    box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.1);
}

/*alignment and styling of the image in the article tag*/
.article img {
    max-width: 100%;
    height: auto;
}

/*alignment of the text in the article tag*/
.content {
    padding: 20px;
    background-color: white;
    text-align: left;
}

/*font styling of H2 in article tag*/
.article h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200px;
    margin-top: -2%;
}

/*font styling of P/text in article tag*/
.article p{
    line-height: 21px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700px;
    font-size: 13px;
    margin-top: -13px;
}

/*alignment, styling, resizing of button in article tag*/
.article button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    align-items: center;
    cursor: pointer;
    margin-left: 84%;
    margin-top: 3%;
    font-size: 12px;
}

/*hover effect on the button inside the article*/
.article button:hover{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

/*alignment of four boxes (DIV tag) on the right side of the webpage, next to article tag*/
.container {
    display: flex;
    flex-wrap: wrap; /*flex wrap used to display (content2) in rows*/
    margin-right: 10%;
    
}

/*alignment and styling of content inside the container*/
.content2 {
    max-width: 100%;
    height: auto;
    border-radius: none;
    margin-bottom: 4%;
    margin-top: -1%;
    padding: 3%;
    box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.1);
    background-color: white;
}

/*alignment and sizing of the image inside content2*/
.content2 img {
    max-width: 100%;
    height: auto;
}

/*font styling and alignment of heading in content2*/
.content2 h2 {
    font-size: 19px;
    font-family: 'Roboto Flex', sans-serif;
    margin-top: 2%;
    margin-left: 2%;
    text-align: left;
}

/*font styling and alignment of paragraph in content2*/
.content2 p {
    font-size: 12px;
    font-family: 'Roboto Flex', sans-serif;
    line-height: 17px;
    font-weight: 400;
    margin-left: 2%;
}

/*styling, resizing, alignment of the button in content2*/
.content2 button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 70px;
    height: 25px;
    cursor: pointer;
    font-size: 11px;
    float: right;
    margin-top: 11px;
    margin-right: 3%;
}

.btn{
    margin-top: 17%;
}


/*added hover effect on the button inside content2*/
.content2 button:hover{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}


footer{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 3%;
    margin-bottom: 2%
}


/*specific width/sizing given in order to fit into the screen/layout, when displayed on different sizes of the screen*/
@media screen and (max-width:480px) {
    input{/*styling of input field/ serach bar according to specific size of  media screen */
        display: none;
        visibility: hidden;
    }
    
    nav{/*styling of NAV TAG according to specific size of media screen */
        visibility: hidden;
        display: none;
    }

    .article{/*alignment of DIV TAG(main article) according to specific layout of media screen */
        margin: 3%;
        display: flex;
        flex-direction: column;
    }

    .container{ /*alignment of a DIV TAG(container) according to different types of screen*/
        margin: 3%;
        display: flex;
        flex-direction: column;
    }

    .article button{/*algnment of BUTTON TAG in the main ARTICLE TAG according to the layout of the screen*/
        float: right;
        margin-left: 3%;
    }

    footer{ /*alignment of a FOOTER TAG(footer) according to different types of screen*/
        margin-top: 5%;
        margin-bottom: 6%;
    }

}

/* LAYOUT SPECIFICATIONS FOR SCREEN SIZE 481PX AND 800PX */
@media screen and (min-width:481px) and (max-width:800px){

    main{
        display: flex;
        flex-direction: column;
    }

    input{
        display: none;
        visibility: hidden;
    }
    
    .container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3%;
        margin-left: 4%; 
        margin-top: 1%;
        width: 90%;
    }

    .content2{
        flex: 43%;
        margin-left: 1%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .article button{
        float: right;
        margin-left: 3%;
        margin-bottom: 3%;
    }


    .article{
        margin-top: 2%;
        margin-left: 4.555%;
        margin-right: 4%;
        margin-bottom: 3%;
        width: 89%;
        height: auto;
    }

    footer{
        margin-bottom: 5%;
        margin-top: 5%;
    }
}


/* LAYOUT SPECIFICATIONS FOR SCREEN SIZE 801PX AND 1024PX */
@media screen and (min-width:801px) and (max-width:1024px){

    main{
        display: flex;
        flex-direction: row;
    }

    .container{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 27%;
        margin-top: 2%;
    }

    .content2{
        margin-bottom: 1%;
        margin-top: 4%;
    }

    .article{
        max-width: 50%;
        display: flex;
        height: fit-content;
        float: left;
        flex-wrap: wrap;
        margin-top: 3%;
        margin-left: 13%;       
    }

    .article button{
        float: right;
        margin-left: 3%;
    }

    .input{
        display: none;
        visibility: hidden;
    }

}

/* LAYOUT SPECIFICATIONS FOR SCREEN SIZE 1025px AND 1280px */
@media screen and (min-width:1025px) and (max-width:1280px){

    main{
        display: flex;
        flex-direction: row;
    }

    .container{
        width: 41%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 1%;
        margin-top: 3.5%;
    }

    .content2{
        width: 40%;
        margin-right: 3%;
        margin-bottom: 3%;
    }


    .article button{
        float: right;
        margin-bottom: 7%;
    }

    .article{
        width: 50%;
        height: fit-content;
        margin-left: 11%;
        margin-top: 3%;
    }
    
}


/* LAYOUT SPECIFICATIONS FOR SCREEN SIZE 1281px */
@media screen and (min-width:1281px) {

    main{
        display: flex;
        flex-direction: row;
        
    }

    .container{
        display: flex;
        width: 47%;
        flex-wrap: wrap;
        flex-direction: row;
        margin-right: -1%;
        margin-top: 3%;
    }

    .content2{
        width: 33%;
        margin-left: 1%;
        margin-bottom:3% ;
    }

    .article{
        width: 39%;
        height: fit-content;
        flex-wrap: wrap;
        display: flex;
        margin-left: 11%;
        margin-top: 3%;
    }

    .input{
        display: none;
        visibility: hidden;
    }
}
 
 

